
body {
    background-image: url(img/fondo.JPG);
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
  }   

div.contenido{
    width: 40%;
    height: 23em;
    background-color: olivedrab;
    opacity: 1.5;
    margin-left: 35em;
    margin-right: 20em;
    margin-bottom: 20em;
    margin-top: 20em;
    position: absolute;
    -webkit-animation-name: fondocontenido; 
    -webkit-animation-duration: 3s; 
    animation-name: fondocontenido;
    animation-duration: 3s;

 }
@keyframes fondocontenido {
    0%   {background-color: olivedrab;}
    50%  {background-color: green;}
    100% {background-color: darkgreen;}
}

div.titulo{
    text-align: center;
    margin-top: -1em;
    font-family: 'Lobster', cursive;
    font-size: 4em;
    color: antiquewhite;
    
}

div.tablaizquierda{
    float: left;
    font-family: 'Lobster', cursive;
    font-size: 3em;
    margin-top: -1em;
  
        
}
   
div.tabladerecha{
    float: right;
    font-family: 'Lobster', cursive;
    font-size: 3em;
    margin-top: -1em;
    

}

    
a:link {
    color: black;
    text-decoration: none
}
a:visited{
    color: black
}
a:hover {
    color: antiquewhite;

}
a{
    transition: 0.5s
}